In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
df=pd.read_csv("AXISBANK.csv")

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,AXISBANK,EQ,15-May-2017,503.0,505.00,508.50,498.40,500.25,500.1,502.95,8806756,4.429384e+09,109965,4320438,49.06
1,AXISBANK,EQ,16-May-2017,500.1,502.10,504.50,493.50,502.05,501.5,499.85,8610492,4.303938e+09,101028,4027982,46.78
2,AXISBANK,EQ,17-May-2017,501.5,501.35,506.75,498.50,502.00,502.8,502.88,6443135,3.240154e+09,84189,2876528,44.64
3,AXISBANK,EQ,18-May-2017,502.8,498.00,499.10,490.25,492.85,492.0,494.96,9227022,4.566993e+09,95624,5348691,57.97
4,AXISBANK,EQ,19-May-2017,492.0,495.75,503.85,494.20,501.90,501.7,499.10,7611430,3.798900e+09,72985,4190505,55.06

In [10]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,495.000000,4.950000e+02,4.950000e+02,495.000000,4.950000e+02,495.000000
mean,577.145455,578.251717,585.358788,570.688788,577.979596,577.981010,578.046586,8.730747e+06,5.105593e+09,108814.066667,4.191426e+06,47.832404
std,78.618463,79.477812,80.016342,78.642413,79.267155,79.259973,79.299165,6.234965e+06,3.716507e+09,58904.460713,3.289574e+06,12.170198
min,449.950000,451.650000,457.800000,447.500000,449.800000,449.950000,452.070000,7.666270e+05,5.793784e+08,1.000000,3.689650e+05,11.200000
25%,516.350000,516.775000,522.500000,509.450000,515.800000,516.550000,516.625000,4.951274e+06,2.683779e+09,67240.000000,2.280754e+06,39.745000
50%,545.650000,546.500000,552.400000,538.050000,546.150000,545.900000,546.130000,7.130411e+06,4.228871e+09,96263.000000,3.247608e+06,46.870000
75%,620.000000,623.725000,629.025000,615.875000,621.500000,620.175000,621.510000,1.025866e+07,6.259058e+09,135607.000000,5.130432e+06,55.650000
max,780.700000,780.950000,787.650000,769.000000,775.800000,780.700000,775.220000,5.885946e+07,3.249514e+10,471549.000000,2.551516e+07,100.000000

In [3]:
df.drop(df[df['Series'] != 'EQ'].index, inplace=True)

In [9]:
df.head(20)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,AXISBANK,EQ,15-May-2017,503.00,505.00,508.50,498.40,500.25,500.10,502.95,8806756,4.429384e+09,109965,4320438,49.06
1,AXISBANK,EQ,16-May-2017,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78
2,AXISBANK,EQ,17-May-2017,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64
3,AXISBANK,EQ,18-May-2017,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97
4,AXISBANK,EQ,19-May-2017,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06
5,AXISBANK,EQ,22-May-2017,501.70,504.00,507.45,499.50,502.00,502.30,503.00,4970982,2.500383e+09,62027,2665857,53.63
6,AXISBANK,EQ,23-May-2017,502.30,502.25,506.10,495.20,500.50,500.60,500.17,7549551,3.776028e+09,69512,4120666,54.58
7,AXISBANK,EQ,24-May-2017,500.60,503.00,505.00,495.00,499.65,499.30,498.39,7271148,3.623902e+09,61592,4986725,68.58
8,AXISBANK,EQ,25-May-2017,499.30,502.00,509.90,495.85,507.85,507.45,504.39,9157557,4.619023e+09,106201,4220728,46.09
9,AXISBANK,EQ,26-May-2017,507.45,508.00,513.00,505.00,510.50,511.45,508.86,5995136,3.050683e+09,72779,2824290,47.11
10,AXISBANK,EQ,29-May-2017,511.45,511.90,515.00,502.20,507.45,507.25,507.58,5441466,2.761996e+09,62036,2462115,45.25
11,AXISBANK,EQ,30-May-2017,507.25,505.00,516.95,503.65,514.00,514.40,512.40,4725430,2.421320e+09,81509,1690453,35.77
12,AXISBANK,EQ,31-May-2017,514.40,514.00,516.00,509.50,514.05,514.05,513.03,7263061,3.726174e+09,127912,4571507,62.94
13,AXISBANK,EQ,01-Jun-2017,514.05,512.15,515.95,505.50,510.00,509.30,509.17,8105813,4.127265e+09,50261,5638214,69.56
14,AXISBANK,EQ,02-Jun-2017,509.30,513.50,513.50,506.35,507.50,508.05,509.46,4474040,2.279365e+09,69112,2589478,57.88
15,AXISBANK,EQ,05-Jun-2017,508.05,507.35,516.75,507.00,513.80,513.65,513.15,3858825,1.980139e+09,57915,1623770,42.08
16,AXISBANK,EQ,06-Jun-2017,513.65,514.00,514.40,505.55,509.75,510.20,509.31,3866339,1.969153e+09,42061,1846559,47.76
17,AXISBANK,EQ,07-Jun-2017,510.20,510.00,515.45,508.10,514.45,514.20,511.95,3389166,1.735094e+09,63216,1606010,47.39
18,AXISBANK,EQ,08-Jun-2017,514.20,514.00,521.80,511.35,515.00,515.75,517.07,5980728,3.092442e+09,91962,2729718,45.64
19,AXISBANK,EQ,09-Jun-2017,515.75,515.00,516.35,509.40,513.10,513.65,513.11,3242063,1.663543e+09,49349,1170363,36.10

In [6]:
#MAXIMUM
print(df['Close Price'][len(df['Close Price'])-90:].max())

780.7

In [7]:
#MINIMUM
print(df['Close Price'][len(df['Close Price'])-90:].min())

607.95

In [8]:
#MEAN
print(df['Close Price'][len(df['Close Price'])-90:].mean())

716.2327777777776

In [4]:
df['Date']=df['Date'].astype('datetime64')
print(df.dtypes)

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [5]:
print(df['Date'].max() - df['Date'].min())

728 days 00:00:00

In [9]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,AXISBANK,EQ,2017-05-15,503.0,505.00,508.50,498.40,500.25,500.1,502.95,8806756,4.429384e+09,109965,4320438,49.06
1,AXISBANK,EQ,2017-05-16,500.1,502.10,504.50,493.50,502.05,501.5,499.85,8610492,4.303938e+09,101028,4027982,46.78
2,AXISBANK,EQ,2017-05-17,501.5,501.35,506.75,498.50,502.00,502.8,502.88,6443135,3.240154e+09,84189,2876528,44.64
3,AXISBANK,EQ,2017-05-18,502.8,498.00,499.10,490.25,492.85,492.0,494.96,9227022,4.566993e+09,95624,5348691,57.97
4,AXISBANK,EQ,2017-05-19,492.0,495.75,503.85,494.20,501.90,501.7,499.10,7611430,3.798900e+09,72985,4190505,55.06

In [5]:
df['Month']=df['Date'].dt.month
df['Year']=df['Date'].dt.year

In [6]:
df1=df[['Year','Month','Total Traded Quantity']].groupby(by=['Month','Year']).sum()
df2=df[['Year','Month','Turnover']].groupby(by=['Month','Year']).sum()
vwap=df2['Turnover']/df1['Total Traded Quantity']
print(vwap)

Month  Year
1      2018    588.047299
       2019    664.894203
2      2018    551.475593
       2019    708.665648
3      2018    516.148455
       2019    745.528441
4      2018    519.810559
       2019    760.446906
5      2017    503.033037
       2018    537.697276
       2019    745.961919
6      2017    507.606094
       2018    525.829058
7      2017    521.996249
       2018    538.609861
8      2017    499.696912
       2018    617.472616
9      2017    508.267633
       2018    629.273327
10     2017    487.670229
       2018    572.416485
11     2017    542.754212
       2018    618.824524
12     2017    544.607656
       2018    617.548070
dtype: float64

In [32]:
def avg_price_N_day(N):
    return df['Average Price'][len(df) - N:].mean()

print('The average price over last 1 week is:' , (avg_price_N_day(7)))
print('The average price over last 2 week is:' , (avg_price_N_day(14)))
print('The average price over last 1 month is:' , (avg_price_N_day(30)))
print('The average price over last 3 month is:' , (avg_price_N_day(3*30)))
print('The average price over last 6 month is:' , (avg_price_N_day(6*30)))
print('The average price over last 1 year is:' , (avg_price_N_day(12*30)))
print('\n')

def profit_loss(N):
    return (df['Close Price'][len(df)-N]-df['Close Price'][N])/df['Close Price'][N]*100

print('The Profit/Loss percent over last 1 week is:', profit_loss(7))
print('The Profit/Loss percent over last 2 week is:', profit_loss(14))
print('The Profit/Loss percent over last 1 month is:', profit_loss(30))
print('The Profit/Loss percent over last 3 month is:', profit_loss(30*3))
print('The Profit/Loss percent over last 6 month is:', profit_loss(30*6))
print('The Profit/Loss percent over last 1 year is:', profit_loss(30*12))

The average price over last 1 week is: 742.9314285714287
The average price over last 2 week is: 749.1607142857144
The average price over last 1 month is: 757.8466666666666
The average price over last 3 month is: 716.3126666666667
The average price over last 6 month is: 663.9153888888889
The average price over last 1 year is: 602.6141111111111


The Profit/Loss percent over last 1 week is: 50.68095333466853
The Profit/Loss percent over last 2 week is: 51.79608306269069
The Profit/Loss percent over last 1 month is: 53.616719082885254
The Profit/Loss percent over last 3 month is: 20.94429811725686
The Profit/Loss percent over last 6 month is: 4.118935309973034
The Profit/Loss percent over last 1 year is: -2.771588984938946

In [8]:
df['Day_Perc_Change']=df['Close Price'].pct_change()*100
#df['Day_Perc_Change'][0]= 0
df.__setitem__(0, 0.00)

In [11]:
def cases(num):
    if num >= -0.5 and num <= 0.5 : return 'Slight or No Change' 
    elif num >= 0.5 and num <=1 : return 'Slight Positive'
    elif num > -1 and num < -0.5: return 'Slight Negative'
    elif num > 1 and num < 3: return 'Positive'
    elif num > -3 and num < -1: return 'Negative'
    elif num > 3 and num < 7: return 'Among Top Gainers'
    elif num > -7 and num < -3: return 'Among Top Losers'
    elif num > 7 : return 'Bull Run'
    elif num  < -7: return 'Bear Drop'
  
df['Trend']= df.Day_Perc_Change.apply(cases)

In [14]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change,0,Trend
0,AXISBANK,EQ,2017-05-15,503.00,505.00,508.50,498.40,500.25,500.10,502.95,8806756,4.429384e+09,109965,4320438,49.06,5,2017,NaN,0.0,None
1,AXISBANK,EQ,2017-05-16,500.10,502.10,504.50,493.50,502.05,501.50,499.85,8610492,4.303938e+09,101028,4027982,46.78,5,2017,0.279944,0.0,Slight or No Change
2,AXISBANK,EQ,2017-05-17,501.50,501.35,506.75,498.50,502.00,502.80,502.88,6443135,3.240154e+09,84189,2876528,44.64,5,2017,0.259222,0.0,Slight or No Change
3,AXISBANK,EQ,2017-05-18,502.80,498.00,499.10,490.25,492.85,492.00,494.96,9227022,4.566993e+09,95624,5348691,57.97,5,2017,-2.147971,0.0,Negative
4,AXISBANK,EQ,2017-05-19,492.00,495.75,503.85,494.20,501.90,501.70,499.10,7611430,3.798900e+09,72985,4190505,55.06,5,2017,1.971545,0.0,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,AXISBANK,EQ,2019-05-07,747.45,751.85,755.50,740.00,744.85,741.85,748.48,5071941,3.796226e+09,141094,2404026,47.40,5,2019,-0.749214,0.0,Slight Negative
491,AXISBANK,EQ,2019-05-08,741.85,741.90,744.75,733.35,735.10,735.50,737.58,6739894,4.971211e+09,118950,3373685,50.06,5,2019,-0.855968,0.0,Slight Negative
492,AXISBANK,EQ,2019-05-09,735.50,733.90,740.50,729.40,732.35,731.00,734.60,4193451,3.080497e+09,75621,1409191,33.60,5,2019,-0.611829,0.0,Slight Negative
493,AXISBANK,EQ,2019-05-10,731.00,734.40,738.50,729.50,732.55,735.05,735.71,3913815,2.879428e+09,114875,1569735,40.11,5,2019,0.554036,0.0,Slight Positive
494,AXISBANK,EQ,2019-05-13,735.05,734.00,742.85,730.00,732.00,732.10,736.74,5891071,4.340174e+09,142075,2615724,44.40,5,2019,-0.401333,0.0,Slight or No Change

In [28]:
#Median
df3=df[['Total Traded Quantity','Trend']].groupby(by="Trend").median()
df3

                     Total Traded Quantity
Trend
Among Top Gainers               15953749.0
Among Top Losers                18357008.0
Bear Drop                       49308621.0
Bull Run                        49257708.5
Negative                         7037386.0
Positive                         7970870.5
Slight Negative                  6805853.0
Slight Positive                  6427817.0
Slight or No Change              6418203.0

In [26]:
#Average
df4=df[['Total Traded Quantity','Trend']].groupby(by='Trend').mean()
df4

                     Total Traded Quantity
Trend
Among Top Gainers             1.764381e+07
Among Top Losers              1.552588e+07
Bear Drop                     4.930862e+07
Bull Run                      4.925771e+07
Negative                      8.020104e+06
Positive                      9.527155e+06
Slight Negative               7.645868e+06
Slight Positive               7.570645e+06
Slight or No Change           6.846224e+06

In [30]:
#Save File
export_csv = df.to_csv ('week2.csv', index = None, header=True)